/*login*/
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: 'Alice', Courier;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.container {
    width: 70vw; 
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.form-image {
    width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.form-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form {
    width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #00a151;
    padding: 3rem;
    color: #ffffff;
}


    .form-header h1,
    .input-box label,
    .login-button a,
    .form-links a {
        color: #ffffff;
    }



.form-header {
    margin-bottom: 6rem;
    display: flex;
    justify-content: space-between;
} 



.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: orangered;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display:inline;
    flex-wrap:nowrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
box-shadow: 1px 1px 6px #ffffff1c;
}

.input-box input::hover {
    border: 1px solid #6b63ff;
}

.input-box label,
.gender title h6 {
    font-size: 1rem;
    font-weight: 300;
    color: white;
}

.input-box input::placeholder {
    color: #000000be;
}

.login-button button {
    width: 100%;
    color: #ffffff;
    background-color: orangered;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.login-button button:hover {
    background-color: orange;
}

.form-links a {
    color: #ffffff; 
    text-decoration: underline;
}

.login-button a {
    text-decoration: none;
    font-size: 0,93rem;
    font-weight: 500;
    color: #ffff;
}

.form-links {
    margin-top: 0.8rem;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }

    .input-group{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }
}
/*login*/